:root{
  --clr-background: #FEFAF1;
  --clr-primary: #EA775C;
  --clr-font: #585858;
  --clr-font-gray: #989898;

  --font-size: 16px;
  --border-radius: 0.2em;
}


body {
  margin: 0;
  color: var(--clr-font);
  font-size: var(--font-size);
  font-family:'Inter', sans-serif;
  background-color: var(--clr-background);

}

header {
  height: 100vh;
  background-color: #EA775C;
}

main {
  background-color: #EA775C;
}